#root {
  margin: 0 auto;
  padding: 2rem;
}

body {
  background-color: #170A1C;
}

* {
  font-family: sans-serif;  
  font-weight: 600;
}

.card {
  display: flex;
  box-shadow: 0 0 6px 2px #cec7c759;
  align-items: center;
  flex-direction: column;
  background-color: #228CDB;
  width: 200px;
  height: 220px;
  cursor: pointer;
  justify-content: space-between;
  border-radius: 16px;
}

.card:hover {
  box-shadow: 0 0 16px 10px #cec7c759;
}

.img {
  width: 80%;
}

.name {
  font-size: 16px;
  color: white;
}